*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#label1{
    width: 300px;
    height: 30px;
    outline: none;
    
}
.lab1{
    margin-top: 15px;
    
}
#h41{

    padding-right: 230px;
    
}
#h42{

    padding-right: 170px;
    
}
#label2{
    width: 300px;
    height: 30px;
    outline: none;
    
}
.lab2{
    margin-top: 15px;
}
.submit{
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    background-color: yellow; 
}
#forget{
    width: 350px;
    height: 350px;
   background-color: rgba(128, 128, 128, 0.486);
   text-align: center;
   margin-left: 35%;
   margin-top: 7%;
   border: 2px solid rgba(128, 128, 128, 0.795);
}
